Button {
    background-color: #d71345;
    border-radius: 0.1;
    width: 95%;
    margin: 10pt auto;
    color: #fff;
}

TabView {
    background-color: #f05b72;
    color: #fff;
}

TabView TabViewTitle {
    color: #fff;
}

ActionBar {
    background-color: white;
}

DatePicker {
    background-color: transparent;
    color: #fff;
}

.headbox {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-color: #ddd;
    background-image: url("~/views/imageSource/moodheadbg.jpg");
    margin-top: 0;
    background-size: cover;
}

.moodcontent {
    background-color: #fff;
    color: #130c0e;
}

.moodhead {
    width: 100px;
    height: 100px;
}

.moodheadtitle {
    font-size: 25;
    width: 100%;
    text-align: center;
}

.day {
    background-color: #d71345;
}

.moodListView {
    height: 30;
    /*background-color: #f05b72;*/
}

.moodListViewIcon {
    height: 30px;
    margin-bottom: 25px;
}

.moodListViewIcon Label {
    font-size: 22;
    color: #f47920;
    text-align: center;
}

.moodListView Label {
    font-size: 12;
    padding: 5 0;
    text-align: center;
}

.moodiconset {
    margin-top: 20pt;
}

.moodiconset Label {
    color: #d71345;
    text-align: center;
    padding: 10px 0;
    font-size: 18;
}

.bodyPage DropDown {
    color: #f173ac;
    height: 30px;
    width: 80px;
    background-color: #fff;
    margin-left: 15px;
}

.bodyPage DropDown StackLayout {
    background-color: #fff
}

.bodyPage {
    background-color: #fff;
}

.bodyPage .bodyInfoDay {
    height: 100px;
    background-color: #d71345
}

.bodyPage .bodyInfoDay Label {
    height: 50px;
    font-size: 12;
    padding: 15px 20px;
}

.bodyPage .method {
    padding: 20px;
    color: #464547;
}

.bodyInfo {
    padding: 20px;
    background-color: #f05b72;
    font-size: 18px;
}

.bodyInfo GridLayout {
    font-size: 12px;
    padding: 15px 0;
    height: 150px;
    color: #ddd;
}

.weatherPage {
    color: #fff;
}

.weatherPage .today {
    padding: 20px 0;
    text-align: center;
    height: 180px;
    background-color: #ef4136;
}

.weatherPage .today Label {
    text-align: center;
}

.weatherPage .today .title {
    font-size: 40;
}

.todaypic {
    padding: 15px 0;
}

.forecast {
    color: #fff;
}

.forecast Label {
    padding: 10px 0;
    color: #fff;
}

.forecast .wind {
    text-align: center;
}

.forecast .first {
    height: 120px;
    background-color: #c63c26;
}

.forecast .second {
    height: 120px;
    background-color: #f3715c;
}

.forecast .third {
    height: 120px;
    background-color: #a7573b;
}

.forecast .fourth {
    height: 120px;
    background-color: #aa2116;
}

.forecast .fifth {
    height: 120px;
    background-color: #b64533;
}

.forecast .sixth {
    height: 120px;
    background-color: #b54334;
}

.forecast .seventh {
    height: 120px;
    background-color: #a03939;
}