Button {
    background-color: #d71345;
    border-radius: 0.1;
    width: 95%;
    margin: 10pt auto;
	color: #fff;
}

Page {
}

TabView {
    background-color: #f05b72;
    color: #fff;
}
TabView TabViewTitle {
	color:#fff;
}

ActionBar {
    background-color:white;
}

DatePicker{
	background-color: transparent;
	color: #fff;
}