StackLayout {
    background-color: #f05b72;
}

Image {
    margin: 20pt auto;
    margin-top: 80pt;
    width: 75%;
}

Button {
    margin-top: 50pt;
    height: 70px;
    background-color: #d71345;
    width: 85%;
    border-radius: 35;
    border-width: 0.1;
}
